@import 'responsive';
.section-three{
    min-width:1428px;
    background-image: url(../images/3d-illustration-bending-grass-field-isolated-agriculture-grass-field-creative-ads\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile{
        min-width:auto;
        background-size: cover;
    }
}
.section-three-contaner{
    margin: 0 auto;
    width: 1428px;
    height: 825px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    @include mobile{
        width: auto;
        height: 904px;
    }
}
.section-three-content{
    position: absolute;
    right:0;
    top:133px;
    width: 485px;
    height: 244px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    @include mobile{
        
        width: 374px;
        height: 233px;
        right: 50%;
        transform: translate(50%);
    }
    h1{
        color: #673D89;
        margin-top: 24px;
        text-align: center;
       
       
        
        font-family: "Al-Jazeera-Arabic-Bold";
        font-weight: bold;
        font-size: 35px;
        @include mobile{
            font-size: 25px;
        }
        
    }
    h2{
        
        color: #673D89;
    text-align: center;
     
    font-family: "Al-Jazeera-Arabic-Bold";
    font-weight: 700;
    font-size: 25px;
    @include mobile{
        font-size: 20px;
    }
    }
    @include mobile{
        width: 347px;
    }
    .btn-contact-us{
        background-image: url(../images/contact-us.svg);
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #E6007E;
        fill: linear-gradient(360deg, #E30613 0%, #E6007E 32.81%, #951B81 61.46%, #009FE3 100%);
        @include mobile{
            width: 325px;
            height: 43px;
        }
    }
}