/* ----------------------------------section-one---------------------------------------------- */
@import 'responsive';
.section-one ,.carousel-background-image{

    position: relative;
    height: calc(100vh * (100 / 75)); /* Calculate scaled height */
    min-width:1428px;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    @include mobile{
        height: auto;
        min-width:auto;
       
    }
}
    .siler1{
        min-width:1428px;
        background-image: url(../images/IMG_2688.PNG);
        height: 1080px;
        @include mobile{
             
            min-width:auto;
        }
    }
    .siler2{
        min-width:1428px;
        background-image: url(../images/slıde-2.png);
        height: 1080px;
        @include mobile{
            min-width:auto;
          
        }
    }
    .section-one-container{
        width:1428px;
        margin: 0 auto;
       position: relative;
        @include mobile{
            width:auto;
        }
    }
    .contant{
        position: absolute;
        z-index: 2;
        right: 14px;
        top: 251px;
        
        width: 496px;
        height: 276px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(10px);
        @include mobile{
            width: 347px;
            right: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    h1{
        margin-top: 24px;
        text-align: center;
        color: #FFF;
        line-height: 50px;
        text-shadow: 0px 0px 10px #000;
        font-family: "Al-Jazeera-Arabic-Bold", sans-serif;
        font-size: 35px;
        font-weight: bold;
        @include mobile{
            font-size: 25px;
        }
        
    }
    h2{
        line-height: 55px;
        color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    font-family: "Al-Jazeera-Arabic-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    @include mobile{
        font-size: 20px;
    }
    }
}
.btn-contact-us{
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    margin: auto;
    width: 366px;
    height: 48px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #E6007E;
    fill: linear-gradient(360deg, #E30613 0%, #E6007E 32.81%, #951B81 61.46%, #009FE3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
        color: #FFF;
        text-decoration: none;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        font-family: "Al-Jazeera-Arabic-Regular", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include mobile{
            font-size: 20px;
        }
    
    @include mobile{
        width: 265px;
        height: 29px;
    }
}
 