@import 'responsive';
.section-8{
    min-width:1428px;
    background-image: url(../images/DJI_0226\ 2.png);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
     
    height:calc(556px * (100 / 75)); 
    @include mobile{
        min-width:auto;
        background-image: url(../images/DJI_0226-2-mobile.png);
    }
    @include tablet{
        min-width:auto;
    }
}
.section-8-contaner{
    /* background-color: rgba(255, 0, 0, 0.473); */
    min-width:1428px;
    padding-top: 32px;
    @include mobile{
     
        min-width:auto;
    }
    @include tablet{
        min-width:auto;
    }
}
.section-8-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 32px;
    max-width: 653px;
    height: 174px;
    border-radius: 7px;
    background: rgba(34, 0, 132, 0.50);
    backdrop-filter: blur(2px);
    @include mobile{
        padding: 0;
        width: 353px;
        height: 81px;

    }
    h2{
        width: 585px;
        height: 113px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
        font-family: 'Al-Jazeera-Arabic-Bold', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        @include mobile{
            width: 338px;
            height: 75px;
            font-size: 20px;
        }
    }
}
 
    .contact-us8{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 0px 10px rgba(103, 61, 137, 0.35));
        border-radius: 14px;
        border: none;
        
        background-image: url(../images/btn-form.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 366px;
        height: 48px;
        
    /* ----------- */
    color: #FFF;
    font-family: 'Al-Jazeera-Arabic-Regular', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    text-transform: capitalize;  
    margin-top: 24px;
    @include mobile{
        width: 325px;
        font-size: 20px;
    }
}
     
