/* ------------header--------- */

 @font-face {
  font-family: 'Al-Jazeera-Arabic-Regular';
  src: url('../al-jazeera-arabic-d05551b080/ArbFonts.com-\(10\)/ArbFONTS-Al-Jazeera-Arabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Al-Jazeera-Arabic-Bold';
  src: url('../al-jazeera-arabic-d05551b080/ArbFonts.com-\(10\)/ArbFONTS-Al-Jazeera-Arabic-Bold.ttf') format('truetype');
}
html {
    zoom: 75%;
}
@import 'header-whatsapp';
@import 'section-one';
@import 'section-two';
@import 'section-three';
@import 'section-four';
@import 'section-form';
@import 'section-six';
@import 'section-7';
@import 'section-8';

/* ----------------------------section---------------- */
