@charset "UTF-8";
/* ------------header--------- */
@font-face {
  font-family: "Al-Jazeera-Arabic-Regular";
  src: url("../al-jazeera-arabic-d05551b080/ArbFonts.com-(10)/ArbFONTS-Al-Jazeera-Arabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Al-Jazeera-Arabic-Bold";
  src: url("../al-jazeera-arabic-d05551b080/ArbFonts.com-(10)/ArbFONTS-Al-Jazeera-Arabic-Bold.ttf") format("truetype");
}
html {
  zoom: 75%;
}

.logo {
  position: fixed;
  padding: 57px 27px 15px 9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  width: 240px;
  height: 169px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media screen and (max-width: 430px) {
  .logo {
    top: 69px;
    width: 100%;
    height: 79px;
    padding: 0 6px;
    border-radius: 0;
  }
}
.logo .logo-img {
  flex-shrink: 0;
  width: 216px;
  height: 85px;
  background: url(../images/image\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 430px) {
  .logo .logo-img {
    width: 159px;
    height: 66px;
    margin: 0 auto;
  }
}

.whatsapp {
  align-items: center;
  align-self: center;
}
@media screen and (max-width: 430px) {
  .whatsapp {
    flex-direction: row !important;
    margin: 0 auto;
    justify-content: center;
  }
}

.section-whatsapp {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  bottom: 70px;
  right: 63px;
  z-index: 5;
}
@media screen and (max-width: 430px) {
  .section-whatsapp {
    right: 50%;
    transform: translate(50%);
  }
}

.whatsapp-logo {
  display: flex;
  justify-content: center;
  background-image: url(../images/Ellipse\ 14.svg);
  background-position: center;
  background-size: cover;
  width: 78px;
  height: 78px;
}
@media screen and (max-width: 430px) {
  .whatsapp-logo {
    background-image: none;
    position: absolute;
    left: -16px;
    z-index: 6;
  }
}
.whatsapp-logo img {
  align-self: center;
}
@media screen and (max-width: 430px) {
  .whatsapp-logo img {
    width: 36px;
    height: 36px;
  }
}

.contact-us {
  margin-right: -30px;
  width: 338px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #49FE6E;
  background: #1BD741;
  box-shadow: 0px 0px 10px 0px #1BD741;
}
@media screen and (max-width: 430px) {
  .contact-us {
    width: 332px;
  }
}
.contact-us p {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  .contact-us p {
    text-align: right;
    padding-right: 9px;
  }
}

/* ----------------------------------section-one---------------------------------------------- */
.section-one, .carousel-background-image {
  position: relative;
  height: 133.3333333333vh; /* Calculate scaled height */
  min-width: 1428px;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
}
@media screen and (max-width: 430px) {
  .section-one, .carousel-background-image {
    height: auto;
    min-width: auto;
  }
}

.siler1 {
  min-width: 1428px;
  background-image: url(../images/slıde-1.png);
  height: 1080px;
}
@media screen and (max-width: 430px) {
  .siler1 {
    background-size: cover;
    min-width: 430px;
    background-image: url(../images/slider-1-mobile.png);
  }
}

.siler2 {
  min-width: 1428px;
  background-image: url(../images/slıde-2.png);
  height: 1080px;
}
@media screen and (max-width: 430px) {
  .siler2 {
    min-width: auto;
  }
}

.section-one-container {
  width: 1428px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section-one-container {
    width: auto;
  }
}

.contant {
  position: absolute;
  z-index: 2;
  right: 14px;
  top: 251px;
  width: 496px;
  height: 276px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (max-width: 430px) {
  .contant {
    width: 347px;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
.contant h1 {
  margin-top: 24px;
  text-align: center;
  color: #FFF;
  line-height: 50px;
  text-shadow: 0px 0px 10px #000;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .contant h1 {
    font-size: 25px;
  }
}
.contant h2 {
  line-height: 55px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 30px;
  font-weight: 400;
}
@media screen and (max-width: 430px) {
  .contant h2 {
    font-size: 20px;
  }
}

.btn-contact-us {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 366px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #E6007E;
  fill: linear-gradient(360deg, #E30613 0%, #E6007E 32.81%, #951B81 61.46%, #009FE3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-contact-us a {
  color: #FFF;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  .btn-contact-us a {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .btn-contact-us {
    width: 265px;
    height: 29px;
  }
}

.section-two {
  min-width: 1428px;
  height: 974px;
  background: #F0F0F0;
}
@media screen and (max-width: 430px) {
  .section-two {
    height: auto;
    min-width: auto;
    padding-bottom: 100px;
  }
}

.section-two-container {
  /* background-color: rgba(255, 0, 0, 0.342); */
  margin: 0 auto;
  width: 1428px;
}
@media screen and (max-width: 430px) {
  .section-two-container {
    width: auto;
  }
}

.section-two-logo {
  padding-top: 74px;
  gap: 10px;
}
@media screen and (max-width: 430px) {
  .section-two-logo img {
    width: 69.864px;
    height: 98.99px;
  }
}
.section-two-logo h2 {
  width: 364px;
  height: 132px;
  color: #951B81;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  .section-two-logo h2 {
    width: 251px;
    height: 99px;
    font-size: 25px;
  }
}

.section-two-row {
  /*  background-color: rgba(255, 0, 0, 0.342); */
  width: 100%;
  margin-top: 88.65px;
  gap: 130px;
}
.section-two-row .section-two-text {
  position: relative;
  float: right;
  width: 391.637px;
  height: 167.677px;
  /* background: linear-gradient(90deg, #FFF 0%, #FDFDFD 55.00%, #F6F6F6 74.00%, #EAEAEA 88.00%, #D9D9D9 100%); */
  background-image: url(../images/section-two-background.svg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 430px) {
  .section-two-row .section-two-text {
    float: none;
    margin: 0 auto;
  }
}
.section-two-row .section-two-text p {
  padding: 54px 34.83px 37.68px 139.81px;
  color: #139EB9;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 430px) {
  .section-two-col {
    margin: auto;
    width: 100%;
    padding: 0;
    margin-right: -10px;
  }
}
.section-two-col .vector1 {
  position: absolute;
  top: 0;
  z-index: 2;
}
.section-two-col .vector1 img {
  height: 220px;
  width: 121px;
}
.section-two-col .vector2 {
  position: absolute;
  right: 0;
  bottom: -53px;
  z-index: 1;
}
.section-two-col .vector2 img {
  height: 54px;
}
.section-two-col h1 {
  position: absolute;
  top: 42px;
  left: 43px;
  z-index: 3;
  color: #FFF;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-two-row2 {
  margin-top: 133.67px;
  gap: 0px;
}
@media screen and (max-width: 430px) {
  .section-two-row2 {
    gap: 130px;
  }
}

.section-three {
  min-width: 1428px;
  background-image: url(../images/3d-illustration-bending-grass-field-isolated-agriculture-grass-field-creative-ads\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 430px) {
  .section-three {
    height: 1205.3333333333px;
    min-width: auto;
    background-size: cover;
    background-image: url(../images/3d-illustration-bending-grass-field-isolated-agriculture-grass-field-creative-ads\ 2-mobile.png);
    background-repeat: no-repeat;
  }
}

.section-three-contaner {
  margin: 0 auto;
  width: 1428px;
  height: 825px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section-three-contaner {
    width: auto;
    height: 1205.3333333333px;
  }
}

.section-three-content {
  position: absolute;
  right: 0;
  top: 133px;
  width: 485px;
  height: 244px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (max-width: 430px) {
  .section-three-content {
    width: 374px;
    height: 233px;
    right: 50%;
    transform: translate(50%);
  }
}
.section-three-content h1 {
  color: #673D89;
  margin-top: 24px;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-weight: bold;
  font-size: 35px;
}
@media screen and (max-width: 430px) {
  .section-three-content h1 {
    font-size: 25px;
  }
}
.section-three-content h2 {
  color: #673D89;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-weight: 700;
  font-size: 25px;
}
@media screen and (max-width: 430px) {
  .section-three-content h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .section-three-content {
    width: 347px;
  }
}
.section-three-content .btn-contact-us {
  background-image: url(../images/contact-us.svg);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #E6007E;
  fill: linear-gradient(360deg, #E30613 0%, #E6007E 32.81%, #951B81 61.46%, #009FE3 100%);
}
@media screen and (max-width: 430px) {
  .section-three-content .btn-contact-us {
    width: 325px;
    height: 43px;
  }
}

.section-four {
  position: relative;
  top: -180px;
  z-index: 2;
  background-image: url(../images/Union.svg);
  /*   background-size: 100% calc(100vw * (100 / 75)); */
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1428px;
  height: 946px;
}
@media screen and (max-width: 430px) {
  .section-four {
    top: -92px;
    background-image: url(../images/Ellipse\ 14-mobile.svg);
    min-width: auto;
    width: 100%;
    background-size: cover;
    /*   min-width: 440px; */
    height: 1993.3333333333px;
  }
}

.section-four-contaner {
  width: 1428px;
  margin: 0 auto;
  position: relative;
  top: 240px;
}
@media screen and (max-width: 430px) {
  .section-four-contaner {
    width: auto;
  }
}
.section-four-contaner h2 {
  color: #FFF;
  margin: auto;
  text-align: center;
  width: 288px;
  height: 36px;
  font-size: 35px;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-weight: 700;
}

.four-row {
  margin-top: 105px;
  width: 1428px;
}
@media screen and (max-width: 430px) {
  .four-row {
    width: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 105px;
    gap: 46px;
  }
}

.four-col {
  position: relative;
}
@media screen and (max-width: 430px) {
  .four-col {
    width: 100%;
    margin: auto;
  }
}

.section-four-content {
  margin: auto;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 294.22px;
  height: 80.354px;
  border-radius: 20px;
  background: #D8D8D8;
  box-shadow: 0px 4px 4px 0px rgba(103, 61, 137, 0.35);
  z-index: 5;
}
.section-four-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217.575px;
  height: 54.394px;
  color: #673D89;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 20px;
  font-weight: 700;
}

.section-four-photo {
  float: right;
  margin-top: 26px;
  z-index: 1;
  width: 294.22px;
  height: 297.929px;
  border-radius: 18px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-four-photo img {
  margin-top: 50px;
  width: 218.811px;
  height: 217.575px;
}
@media screen and (max-width: 430px) {
  .section-four-photo {
    margin: 0 auto;
    float: none;
    height: 330px;
  }
}

.section-form {
  margin-top: -200px;
  margin-bottom: 55px;
  min-width: 1428px;
}
@media screen and (max-width: 430px) {
  .section-form {
    margin-top: -100px;
    min-width: auto;
  }
}

.section-form-contaner {
  margin: 0 auto;
  width: 1428px;
}
@media screen and (max-width: 430px) {
  .section-form-contaner {
    width: auto;
  }
}

.section-form-img {
  width: 100%;
  border-radius: 30px;
  height: 100%;
}

@media screen and (max-width: 430px) {
  .section-form-img-col {
    display: none;
  }
  .form-col {
    width: 100%;
  }
  .form-row {
    width: 100%;
    margin: auto;
  }
}
.form-row {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form h2 {
  color: #951B81;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  form h2 {
    font-size: 23px;
  }
}
form input {
  border-radius: 5px;
  border: 2px solid #EAEAEA;
  background: #FFF;
  margin: 0 auto;
  text-align: right;
  display: flex;
  width: 598px;
  height: 66px;
  align-items: center;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-weight: 300;
  padding-right: 31px;
}
form input::-moz-placeholder {
  direction: rtl;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
form input::placeholder {
  direction: rtl;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  form input {
    max-width: 380px;
    width: 100%;
  }
}
form textarea {
  border-radius: 5px;
  border: 2px solid #EAEAEA;
  background: #FFF;
  display: flex;
  width: 598px;
  height: 315px;
  margin: 0 auto;
  text-align: right;
  resize: none;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-weight: 300;
  padding-right: 31px;
}
form textarea::-moz-placeholder {
  direction: rtl;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
form textarea::placeholder {
  direction: rtl;
  color: #808080;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  form textarea {
    max-width: 380px;
    width: 100%;
  }
}
form button {
  fill: linear-gradient(360deg, #E30613 0%, #E6007E 32.81%, #951B81 61.46%, #009FE3 100%);
  filter: drop-shadow(0px 0px 10px rgba(103, 61, 137, 0.35));
  border-radius: 14px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(../images/btn-form.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 594px;
  height: 48px;
  /* ----------- */
  color: #FFF;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  form button {
    max-width: 380px;
    width: 100%;
  }
}

.section-six {
  position: relative;
  background-image: url(../images/section-six.svg);
  min-width: 1428px;
  height: 275px;
  fill: linear-gradient(0deg, #301546 9%, #673D89 55.21%, #9354C7 100%);
}
@media screen and (max-width: 430px) {
  .section-six {
    background-image: none;
    background-image: url(../images/section-six-mobile.svg);
    background-size: cover;
    min-width: 400px;
    height: auto;
  }
}

.section-six-contaner {
  position: relative;
  margin: 0 auto;
  width: 1428px;
  display: flex;
  height: 275px;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .section-six-contaner {
    width: auto;
    height: 200px;
  }
}
.section-six-contaner h2 {
  position: absolute;
  right: 100px;
  color: #FFF;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  .section-six-contaner h2 {
    top: 83px;
    right: 59px;
    font-size: 23px;
    width: 284px;
    height: 103px;
  }
}

.section-six::after {
  content: "";
  background-image: url(../images/question-mark2.svg);
  position: absolute;
  color: white;
  width: 100%;
  height: 45px;
  bottom: 19px;
}
@media screen and (max-width: 430px) {
  .section-six::after {
    content: "";
    position: absolute;
    background-image: none;
    background-image: url(../images/question-mark2-mobile.svg);
    background-repeat: no-repeat;
    background-size: 1058.5px 23.94px;
    transform: scaleX(-1);
    bottom: -10px;
    overflow: hidden;
  }
}

.section-six::before {
  content: "";
  background-image: url(../images/question-mark.svg);
  position: absolute;
  z-index: 5;
  color: white;
  left: 305px;
  width: 138px;
  height: 142px;
  bottom: 77px;
}
@media screen and (max-width: 430px) {
  .section-six::before {
    content: "";
    position: absolute;
    background-image: url(../images/question-mark-mobile.svg);
    width: 72.907px;
    height: 74.687px;
    left: auto;
    right: 343px;
    bottom: 46px;
  }
}

.section-7 {
  min-width: 1428px;
  min-height: 581px;
  background: #D9D9D9;
}
@media screen and (max-width: 430px) {
  .section-7 {
    min-width: auto;
  }
}

.section-7-contaner {
  /* background-color: rgba(255, 0, 0, 0.473); */
  padding: 100px 0;
  max-width: 1579px;
  min-width: 1428px;
}
@media screen and (max-width: 430px) {
  .section-7-contaner {
    min-width: auto;
  }
}

.section-7-contant {
  position: relative;
  width: 476.481px;
  height: 77.238px;
  border-radius: 35.5px;
  background: #5C2A84;
  align-items: center;
  justify-content: end;
}
.section-7-contant p {
  padding-right: 16.32px;
  color: #FFF;
  text-align: right;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  .section-7-contant p {
    width: 279px;
    padding-top: 10px;
    padding-right: 16.32px;
  }
}
@media screen and (max-width: 430px) {
  .section-7-contant {
    width: 438px;
    height: 71px;
  }
}

.section-7-icons {
  position: absolute;
  left: 56.57px;
  width: 94.643px;
  height: 94.643px;
  border: 1px solid #673D89;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.section-7-icons img {
  width: 48.953px;
  height: 48.953px;
}

.section-7-col {
  width: 476.481px;
}

.row-7 {
  gap: 50px;
  width: 100%;
  row-gap: 87px;
}

@media screen and (max-width: 1147px) {
  .h-line, .v-line, .v-dot, .h-dot {
    display: none;
  }
  .row-7 {
    padding-left: 233px;
  }
  .empty-container {
    position: absolute;
  }
}
@media screen and (max-width: 1147px) and (max-width: 430px) {
  .row-7 {
    padding-left: 0px;
    margin-left: -34px;
  }
}
.h-line {
  position: absolute;
  background-color: #E6007E;
  stroke-width: 2px;
  width: 2px;
  height: 93px;
  z-index: 5;
  left: 103px;
  top: 76px;
}
.h-line .h-dot {
  background-color: #E6007E;
  border-radius: 50%;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-line {
  position: absolute;
  background-color: #E6007E;
  z-index: 2;
  width: 54px;
  height: 2px;
  z-index: 5;
  right: -53px;
  top: 50%;
}
.v-line .v-dot {
  background-color: #E6007E;
  border-radius: 50%;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-8 {
  min-width: 1428px;
  background-image: url(../images/DJI_0226\ 2.png);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 556px;
  height: 741.3333333333px;
}
@media screen and (max-width: 430px) {
  .section-8 {
    min-width: auto;
    background-image: url(../images/DJI_0226-2-mobile.png);
  }
}

.section-8-contaner {
  /* background-color: rgba(255, 0, 0, 0.473); */
  min-width: 1428px;
  padding-top: 32px;
}
@media screen and (max-width: 430px) {
  .section-8-contaner {
    min-width: auto;
  }
}

.section-8-contant {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 32px;
  width: 653px;
  height: 174px;
  border-radius: 7px;
  background: rgba(34, 0, 132, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media screen and (max-width: 430px) {
  .section-8-contant {
    padding: 0;
    width: 353px;
    height: 81px;
  }
}
.section-8-contant h2 {
  width: 585px;
  height: 113px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  .section-8-contant h2 {
    width: 338px;
    height: 75px;
    font-size: 20px;
  }
}

.contact-us8 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(103, 61, 137, 0.35));
  border-radius: 14px;
  border: none;
  background-image: url(../images/btn-form.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 366px;
  height: 48px;
  /* ----------- */
  color: #FFF;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  text-transform: capitalize;
  margin-top: 24px;
}
@media screen and (max-width: 430px) {
  .contact-us8 {
    width: 325px;
    font-size: 20px;
  }
}

.section-9 {
  min-width: 1428px;
  background: linear-gradient(180deg, rgba(202, 147, 246, 0.5) 0%, rgba(234, 234, 234, 0.5) 90.63%);
}
@media screen and (max-width: 430px) {
  .section-9 {
    min-width: auto;
  }
}

.section-9-contaner {
  padding-bottom: 48px;
  min-height: 632px;
  margin: 0 auto;
  max-width: 1579px;
  min-width: 1428px;
}
@media screen and (max-width: 430px) {
  .section-9-contaner {
    min-width: auto;
  }
}

.section-9-contaner h2 {
  padding-top: 48px;
  color: #673D89;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.section-9-row {
  margin-top: 71px;
  width: 100%;
}
@media screen and (max-width: 430px) {
  .section-9-row {
    margin: 0 auto;
  }
}

.section-9-card {
  position: relative;
  width: 366px;
  height: 435px;
  border-radius: 13px;
  background: #EBD5FE;
  box-shadow: 0px 0px 10px 0px rgba(103, 61, 137, 0.5);
}
.section-9-card img {
  width: 360px;
  height: 235px;
  margin: 0 auto;
  margin-top: 3px;
}
.section-9-card h4 {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  top: 185px;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  background: rgba(103, 61, 137, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #FFF;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 430px) {
  .section-9-card {
    margin: auto;
  }
}

.card-body p {
  height: 160px;
  color: #673D89;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.card-body .section-9-btn {
  width: 325px;
  height: 43px;
}

@media screen and (min-width: 430px) and (max-width: 1147px) {
  .section-9-col {
    width: 40%;
  }
  .section-9-card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 430px) {
  .section-9-col {
    width: 100%;
  }
}
.section-10 {
  min-width: 1428px;
  background-image: url(../images/section-10.png);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 671px;
}
@media screen and (max-width: 430px) {
  .section-10 {
    min-width: auto;
    background-image: url(../images/section-10-mobile.png);
    height: 723px;
    height: 964px;
  }
}

.section-10-contaner {
  margin: 0 auto;
  position: relative;
  width: 1428px;
  background: rgba(255, 0, 0, 0.315);
}
@media screen and (max-width: 430px) {
  .section-10-contaner {
    width: auto;
  }
}

.section-10-contant {
  position: absolute;
  width: 560px;
  height: 265px;
  right: 10px;
  top: 180px;
  border-radius: 18px;
  background: rgba(217, 217, 217, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media screen and (max-width: 430px) {
  .section-10-contant {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 455px;
    width: 377px;
    height: 352px;
  }
}
.section-10-contant h2 {
  direction: rtl;
  width: 514px;
  color: #FFF;
  text-align: center;
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 auto;
}
@media screen and (max-width: 430px) {
  .section-10-contant h2 {
    width: 346px;
  }
}
.section-10-contant a {
  width: 325px;
  height: 43px;
}

/* ----------------------------section---------------- *//*# sourceMappingURL=mtstyle.css.map */