/* ------------header--------- */

 @font-face {
  font-family: 'Al-Jazeera-Arabic-Regular';
  src: url('../fonts/ArbFonts.com-\(10\)/ArbFONTS-Al-Jazeera-Arabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Al-Jazeera-Arabic-Bold';
  src: url('../fonts/ArbFonts.com-\(10\)/ArbFONTS-Al-Jazeera-Arabic-Bold.ttf') format('truetype');
}
html {
    zoom: 75%;
    scroll-behavior:smooth;
   
}
/* Target Safari browsers */
 
  body {
    -webkit-text-size-adjust: 75% !important;
      text-size-adjust:100%!important;
  }
 

@import 'header-whatsapp';
@import 'section-one';
@import 'section-two';
@import 'section-three';
@import 'section-four';
@import 'section-form';
@import 'section-six';
@import 'section-7';
@import 'section-8';
@import 'section-9';
@import 'section-10';

/* ----------------------------section---------------- */
